{% extends 'core/base.html' %}
<!-- Cabecera -->
{% load static %}{% block title %}Precios{% endblock %}
{% block content %}
<!-- Pricing Plan Start -->
<div class="container-fluid bg-light pt-5 pb-4">
  <div class="container py-5">
    <div class="d-flex flex-column text-center mb-5">
      <h4 class="text-secondary mb-3">Planes</h4>
      <h1 class="display-4 m-0">Escoja el <span class="text-primary">Mejor Precio</span></h1>
    </div>
    <div class="row">
      {% for price in listPrices %}
        <div class="col-lg-4 mb-4">
          <div class="card border-0">
            <div class="card-header position-relative border-0 p-0 mb-4">
              <img class="card-img-top" src="{{price.image.url}}" alt=""/>
              <div
                class="position-absolute d-flex flex-column align-items-center justify-content-center w-100 h-100"
                style="top: 0;left: 0; z-index: 1; background: rgba(0, 0, 0, 0.5);">
                {% if "Estándar" in price.title %}
                  <h3 class="text-secondary mb-3">{{price.title}}</h3>
                {% else %}
                  <h3 class="text-primary mb-3">{{price.title}}</h3>
                {% endif %}
                <h1 class="display-4 text-white mb-0">
                  <small class="align-top" style="font-size: 22px; line-height: 45px;">$</small>{{price.price}}
                  <small class="align-bottom" style="font-size: 16px; line-height: 40px;">/Mes</small>
                </h1>
              </div>
            </div>  
            <div class="card-body text-center p-0">
              <ul class="list-group list-group-flush mb-4">
                {% for plan in listPlans %}
                  {% if "Básico" in price.title %}
                    {% if plan.show_in_basic %}
                      <li class="list-group-item p-2"><i class="fa fa-check text-secondary mr-2"></i>{{plan.title}}</li>
                    {% else %}
                      <li class="list-group-item p-2"><i class="fa fa-times text-danger mr-2"></i>{{plan.title}}</li>
                    {% endif %}
                  {% elif "Estándar" in price.title %}
                    {% if plan.show_in_basic or plan.show_in_standard %}
                      <li class="list-group-item p-2"><i class="fa fa-check text-secondary mr-2"></i>{{plan.title}}</li>
                    {% else %}
                      <li class="list-group-item p-2"><i class="fa fa-times text-danger mr-2"></i>{{plan.title}}</li>
                    {% endif %}
                  {% elif "Premium" in price.title %}
                    <li class="list-group-item p-2"><i class="fa fa-check text-secondary mr-2"></i>{{plan.title}}</li>
                  {% endif %}
                {% endfor %}
              </ul>
            </div>
            <div class="card-footer border-0 p-0">
              {% if "Estándar" in price.title %}
                <a href="{% url 'booking' %}" class="btn btn-secondary btn-block p-3" style="border-radius: 0">Reservar</a>
              {% else %}
                <a href="{% url 'booking' %}" class="btn btn-primary btn-block p-3" style="border-radius: 0">Reservar</a>
              {% endif %}
            </div>
          </div>
        </div>
      {% endfor %}  
    </div>
  </div>
</div>
<!-- Pricing Plan End -->
{% endblock %}